.landing
  %section.intro#first-screen-section
    .content
      .row#name
        .small-12.large-8.columns.right.small-text-center.medium-text-right#name
          %h1
            Javi
            %br Ramírez

      .row
        .small-12.medium-10.large-5.columns.right.small-text-center.medium-text-right
          %p I’m a 22 y.o. entrepreneur, designer and computer scientist who loves creating cool stuff.

      .row#social
        .small-12.medium-6.large-3.columns.right.text-right
          .row
            .small-4.columns
              %a{href: "https://es.linkedin.com/in/javirmrz/en"}
                =image_tag("linkedin-button.png")
            .small-4.columns
              %a{href: "http://twitter.com/javi_rmrz"}
                =image_tag("twitter-button.png")
            .small-4.columns
              %a{href: "mailto:javi.rmrz@gmail.com"}
                =image_tag("email-button.png")

  %footer.site-footer
    .row
      .small-12.medium-6.columns.text-right.show-for-medium-up
        %a{href: "#portfolio"}
          %i.fa.fa-caret-down.fa-3x
      .small-12.medium-6.columns.small-text-center.medium-text-right
        %span
          Designed & crafted with
          %i.fa.fa-heart
          from Madrid.
          %a{href: "https://github.com/javi-rmrz/personal-website"}
            Fork me on
            %i.fa.fa-github
            Github.

  %section.intro#second-screen-section{name: "portfolio"}
    .content
      .row
        .small-12.columns
          %h1 things I've done
          %p.show-for-medium-up
            press&nbsp;
            %kbd
              ←
            &nbsp;and&nbsp;
            %kbd
              →
            &nbsp;to navigate with your keyboard
      %md-content{:layout => "column"}
        %md-virtual-repeat-container#horizontal-container{"md-orient-horizontal" => ""}
          .repeated-item{:flex => "", "md-virtual-repeat" => "project in projects"}
            %md-content.md-padding
              %md-card
                .md-card-image{"ng-style" => "{'background-image': 'url(' + project.image + ')'}"}
                %md-card-content
                  %h2.md-title
                    %a{"ng-href" => "{{project.url}}"}
                      {{project.title}}
                    %span.md-position {{project.position}}
                  %p {{project.description}}
                .md-actions{:layout => "row", "layout-align" => "end center"}
                  %md-button{"ng-href" => "{{project.url}}", "ng-show" => "project.url"} www
                  %md-button{"ng-href" => "{{project.twitter_url}}", "ng-show" => "project.twitter_url"}
                    %i.fa.fa-twitter
                    tw
                  %md-button{"ng-href" => "{{project.facebook_url}}", "ng-show" => "project.facebook_url"}
                    %i.fa.fa-facebook
                    fb
            -# {{item}}

  %section.intro#third-screen-section
    .content
      .row
        .small-12.columns
          %h1 other work
      %div{"ng-cloak" => ""}
        %md-grid-list.gridListdemoBasicUsage{"md-cols-gt-md" => "6", "md-cols-md" => "2", "md-cols-sm" => "1", "md-gutter" => "12px", "md-gutter-gt-sm" => "8px", "md-row-height" => "2:2", "md-row-height-gt-md" => "1:1"}
          %md-grid-tile.gray{"md-colspan" => "2", "md-colspan-sm" => "1", "md-rowspan" => "3"}
            %md-grid-tile-footer
              %h3 Personal blog
          %md-grid-tile.green
            %md-grid-tile-footer
              %h3 Video
          %md-grid-tile.yellow
            %md-grid-tile-footer
              %h3 website
          %md-grid-tile.blue{"md-rowspan" => "2"}
            %md-grid-tile-footer
              %h3 Short story
          %md-grid-tile.red{"md-colspan" => "2", "md-colspan-sm" => "1", "md-rowspan" => "2"}
            %md-grid-tile-footer
              %h3 Android app
          %md-grid-tile.purple{"md-rowspan" => "2"}
            %md-grid-tile-footer
              %h3 Photography
