@import "foundation/components/range-slider";

nav#navbar{
  background-color: #fff;
  height: 5em;

  .navbar-logo{
    padding: 1.5em;
    width: 189px;
  }
}

.full-width-header{
  width: 100%;
  height: 60vh;
  background-image: url("https://a1.muscache.com/im/pictures/e501f8b9-e0dc-42ed-bac0-efdf95fcbfab.jpg?aki_policy=x_medium");
  background-position: left bottom;
  background-size: cover;
}


.text-header {
  font-family: Lato !important;
  color: white;
  font-weight: 200;
}

.bullet-title{
  font-family: Lato !important;
  font-weight: 200;
  font-size: 28px;
}

.listing-title{
  font-family: Lato !important;
  font-size: 22px;
}

.listing-copy{
  font-family: "Open Sans";
  font-size: 14px;
}

.md-button.search-button {
  margin-top: 1.5em;
  background: rgba(255,205,0,1);
  color: white;
}

#title-row{
  padding: 2em 0;
  background-image: url("coworking.jpg");
  background-position: center bottom;
  background-size: cover;
}

#bullets-row{
  margin: 3em 0;
}

.footer-logo{
  width: 80px;
}